<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
@model List<Survey>

@foreach (var item in Model)
{
    
    <label for="">Your Name :</label>
        <span>@item.Name</span> <br>
        <label for="">Dojo Location :</label>
        <span>@item.Location</span> <br>
        <label for="">Favorite Language :</label>
        <span>@item.Language</span><br>
        <label for="">Comment :</label>
        <span>@item.Comment</span><br>
}
</body>
</html>