@model Chef
<h1>Check our roster of Chef</h1>
<hr>
<table class="table">
  <thead>
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th># of Dishes</th>
    </tr>
  </thead>
  <tbody>
      @foreach (var item in ViewBag.Chef)
      {
    <tr class="table-active">
        <td>@item.FirstName @item.LastName</td>

<td>

@{
    var today = DateTime.Today;
    var age = today.Year - item.Birthday.Year;

    @age
}

        <td>@item.CreatedDishes.Count</td>
</td>
    </tr >
      } 
